<!DOCTYPE html>
<html>
<head>
	<title>Admin Portal Landing page</title>
</head>
<body>
<h2>WELCOME TO ADMIN PORTAL</h2>

<h3>PLEASE SELECT THE OPERATIONS YOU WANT TO CONDUCT : </h3>

		
<div>
<br><a href = '/deluseracc'><input type=submit value='Delete all user accounts' name='deluseracc'>
</div></a>


<div>
<br><a href = '/deluseractivity'><input type = submit value = "Delete all user activity" name = 'deluseractivity'>
</div></a>


<div>
<br><a href = '/viewuseracc'><input type = submit value = "View User account information" name = 'viewuseracc'>
</div></a>

<div>
<br><a href = '/viewuseractivity'><input type = submit value = "View User account activity" name = 'viewuseractivity'>
</div></a>

	

</body>
</html>

