<!DOCTYPE html>
<html>
<head>
	<title>Admin Login page</title>
</head>
<body>
<h2>WELCOME TO THE ADMIN LOGIN PAGE</h2>

<h3>PLEASE ENTER THE FOLLOWING INFO TO LOGIN: </h3>

		
	<form method= "POST" action="/admincheck_cred">


			<br><div>Enter Username :
				<input type = "text" name ="UserName"><br>
			</div>
	<br><div>Enter Password : 
				<input type = "password" name ="Password"><br>
			</div>

<br><div><input type = submit value = Login name ="AdminLoginButton"></div>

</form>


	

</body>
</html>

