<!DOCTYPE html>
<html>
<head>
	<title>Rating based movie system</title>
</head>
<body>
<h2>Please enter an existing review for movie that you want to watch:</h2>
<br>
<br>
	<div><a href= "/sign_up"> <input type = submit value= 'Signup' name = 'signup'>
	</div></a>

<br>
	<div><a href= "/login"> <input type = submit value= 'Login' name = 'login'>
	</div></a>

<br>
<br>
<br>
<br>
<h3>To test the rating system, feel free to try it out without creating an account below : </h3>
<br>
<br>
	<form method= "POST" action="/results">


			<br><div>Enter review : 
				<input type = "text" name ="review"><br>
			</div>
		
		<div>
			<br><input type=submit value='Predict rating' name='submit_btn'>
		</div>
	</form>


</body>
</html>
